<%- include('head') %>
<div class="container">
  <nav>
    <ul>
      <li><a href="/">Film List</a></li>
    </ul>
  </nav>
  <h1><%= film.filmTitle %></h1>
  <p><%= film.filmDescription %></p>
</div>
<%- include('footer'); %>
